.sdn-container {
    height: 350px;
    width: 32%;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0.3rem 0.5rem 0 #d6d6d6;
    border-radius: 0.7rem;
    background-color: #fff;
    margin-top: 1rem;
    margin-left: 1%;
}

.sdn-chart {
    height: 95%;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

#sdn-header {
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}

@media screen and (max-width: 768px) {
    .sdn-container {
        width: 100%;
        margin-left: 0;
    }
}