.progress {
    height: 350px;
    width: 24%;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0.3rem 0.5rem 0 #d6d6d6;
    border-radius: 0.7rem;
    background-color: #fff;
    margin-top: 1rem;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}

.progress-item {
    position: relative;
    /* border-left: 1px solid #eaf2ff; */
    margin-left: 12px;
    padding-left: 16px;
    padding-bottom: 1.5rem;
}

/* 
.progress-item::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 2px;
    background-color: #0e62ff;
    left: 0;
} */

.progress-main-header {
    margin-bottom: 0.3rem;
}

.progress-mini-header {
    color: #999;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 14px;
}

.progress-header {
    font-weight: 750;
    font-size: 16px;
    /* border-left: 1px solid #eaf2ff; */
}

ul {
    list-style-type: none;
}

.progress-header::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid #0e62ff;
    z-index: 3;
    position: absolute;
    right: 15.2rem;
    background-color: #fff;
}

.progress-item::before {
    content: '';
    display: inline-block;
    border: 1px solid #eaf2ff;
    position: absolute;
    right: 15.8rem;
    height: 80px;
    z-index: 2;
}

.progress-item:last-of-type::before {
    display: none;
}

.progress-info {
    color: #999;
    font-weight: 500;
    /* padding-bottom: 1rem; */
    font-size: 11.5px;
    /* border-left: 1px solid #eaf2ff; */
}

@media screen and (max-width: 768px) {
    .progress {
        width: 100%;
        /* padding-left: 0; */
    }

    .progress-item::before {
        right: 18.45rem;
    }

    .progress-header::before {
        right: 17.8rem;
    }
}