.main {
    display: flex;
    flex-direction: column;
}

.insights-container {
    background-color: #e7eeff;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
}

.first-row-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.second-row-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.third-row-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .first-row-container {
        width: 100%;
        flex-direction: column;
        /* margin-bottom: 10px; */
    }

    .second-row-container {
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .third-row-container {
        flex-direction: column;
        width: 100%;
    }

    .insights-container {
        width: 100%;
        padding-top: 1.3rem;
        padding-left: 8px;
    }
}