.main {
    display: flex;
    flex-direction: column;
}

.insights-container {
    background-color: #e7eeff;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.lg-container {
    display: flex;
    justify-content: space-between;
}