.pbc-container {
    height: 350px;
    width: 74%;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0.3rem 0.5rem 0 #d6d6d6;
    border-radius: 0.7rem;
    background-color: #fff;
    margin-top: 1rem;
    margin-left: 1%;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0.8rem;
}

.pbc-header {
    display: flex;
    justify-content: space-between;
}

.pbc-chart {
    height: 300px;
    width: 100%;
    padding-top: 1rem;
}