.app {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar-container {
    width: 250px;
}

.main-container {
    width: calc(100% - 250px);
}

@media screen and (max-width: 768px) {
    .sidebar-container {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 100%;
    }
}