.rdn-container {
    height: 350px;
    width: 24%;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0.3rem 0.5rem 0 #d6d6d6;
    border-radius: 0.7rem;
    background-color: #fff;
    margin-top: 1rem;
}

.rdn-chart {
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rdn-header {
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}